:root {
    --color-background: #F5F5F5;
    --color-opacity: #F0F2F5;
    --color-primary: #008B52;
    --color-title: #000000;
    --color-text: #363636;
  }
  
  /*TYPOGRAPHY*/
  /* @font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
    font-weight: 100;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
    font-weight: 200;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
    font-weight: 900;
  } */
  body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'IBM Plex Serif', serif;
  }
  .h1 {
    font-size: 80px;
    line-height: 1.4em;
  }
  .h2 {
    font-size: 80px;
    text-transform: uppercase;
  }
  .h3 {
    font-size: 42px;
  }
  .h4 {
    font-size: 24px;
  }
  .h5 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  p {
    color: var(--color-opacity-black);
    font-size: 24px;
  }
  
  .text-sm {
    font-size: 17px;
    font-weight: 300;
  }
  
  @media (max-width: 1366px) {
    .h1 {
      font-size: 70px;
    }
    .h2 {
      font-size: 70px;
    }
    .h3 {
      font-size: 36px;
    }
    .h4 {
      font-size: 22px;
    }
    p {
      font-size: 22px;
    }
  }
  @media (max-width: 1199px) {
    .h1 {
      font-size: 60px;
    }
    .h2 {
      font-size: 60px;
    }
    .h3 {
      font-size: 28px;
    }
    .h4 {
      font-size: 20px;
    }
    .h5 {
      font-size: 16px;
    }
    p {
      font-size: 20px;
    }
  }
  @media (max-width: 991px) {
    .h1 {
      font-size: 50px;
    }
    .h2 {
      font-size: 50px;
    }
    .h3 {
      font-size: 28px;
    }
    .h4 {
      font-size: 20px;
    }
    p {
      font-size: 18px;
    }
  }
  @media (max-width: 767px) {
    .h1 {
      font-size: 38px;
    }
    .h2 {
      font-size: 28px;
    }
    .h3 {
      font-size: 28px;
    }
    .h4 {
      font-size: 20px;
    }
    .h5 {
      font-size: 15px;
    }
    p {
      font-size: 16px;
    }
  }
  @media (max-width: 576px) {
    .h1 {
      font-size: 28px;
    }
    .h2 {
      font-size: 26px;
    }
    .h3 {
      font-size: 23px;
    }
    .h4 {
      font-size: 20px;
    }
    .h5 {
      font-size: 14px;
    }
    p {
      font-size: 16px;
    }
  }